<h3><%= @car.manufacturer %></h3>
<h3><%= @car.model_year %> <%= @car.model %></h3>
<p>Starting MSRP: $<%= @car.base_msrp %></p>
<p>Manual offered: <%= 
    if @car.manual_option = true
        "Yes"
    else
        "No"
    end
    %>
</p>
<p>Car type: <%= @car.category %></p>